[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
pillow = "*"
"9723e6f" = {file = "https://codeload.github.com/sshwsfc/xadmin/zip/django2"}

[dev-packages]

[requires]
python_version = "3.7"
